.products {
    width: 100%;
    padding: 2% 5%;
    background-color: #f4f4f4;
}

.products h2 {
    margin-bottom: 2%;
}

.container_product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}